<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright 2014 the original author or authors.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
    implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context.xsd
			">

	<context:property-placeholder location="
		file:${spring.profiles.active}/db.mysql.properties,
		file:${spring.profiles.active}/jpa.mysql.properties"
	/>

	<context:component-scan base-package="de.inren.data.domain" />
	<context:component-scan base-package="de.inren.service" />
	<context:component-scan base-package="de.inren.facade" />
	<import resource="repository.xml"/>
	<import resource="infrastructure.xml"/>
	<import resource="security.xml"/>
	<!-- Kein Support mehr in Spring 5 Alternative suchen für Mail Templates -->
<!-- 	<import resource="mail-context.xml"/> -->
	<!--
	<import resource="context.xml"/>
	<import resource="wicket.xml"/>
  -->
</beans>
